

<section class = "section">
    <div class = "container">
        <h1 class="title"> <%= @task.title %> </h1>
        <div class= "content">
            <%= @task.content %>
        </div>
    </div>
</section>